<div>
  <h6 class="my-0">{{ reviewAnswer.answer }}</h6>
  <small class="text-muted">Responsável: <span class="text-success">{{ reviewAnswer.employee.name }}</span> - Associados a esta Revisão: <span class="ml-1 badge badge-pill badge-primary" *ngFor="let employee of reviewAnswer.employees">{{ employee.name }}</span></small>
</div>
