<div>
  <h6 class="my-0">{{ employee.name }}</h6>
  <small>Revisões Associadas: <span class="ml-1 badge badge-pill badge-primary" *ngFor="let review of employee.reviews">{{ review.title }}</span></small>
</div>
