<blockquote class="blockquote text-right">
  <p class="mb-0">Painel Central</p>
  <footer class="blockquote-footer">Aqui você vai encontrar o resumo de todas funcionalidades do sistema</footer>
</blockquote>

<div class="container-fluid">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-6 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Funcionários</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">{{ sizeOfEmployees }} <small class="text-muted">/ de Funcionários</small></h3>
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngFor="let employee of lastEmployees">{{ employee.name }}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Ver Funcionários</button>
      </div>
    </div>
    <div class="card mb-6 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Revisões de Desempenho</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">{{ sizeOfReviews }} <small class="text-muted">/ de Revisões de Desempenho</small></h3>
        <ul class="list-unstyled mt-3 mb-4">
          <li *ngFor="let review of lastReviews">{{ review.title }}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Ver Revisões de Desempenho</button>
      </div>
    </div>
  </div>

  <hr class="mb-4">

  <div class="row">
    <div class="col-md-6 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Últimos Funcionários</span>
        <span class="badge badge-secondary badge-pill">Total: {{ sizeOfEmployees }} funcionários</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let employee of lastEmployees">
          <app-employee [employee]=employee></app-employee>
        </li>
      </ul>
    </div>
    <div class="col-md-6 order-md-1">
      <h4 class="mb-3"><span class="text-muted">Cadastro de Funcionário</span></h4>
      <form novalidate #formEmployee="ngForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="username">Nome</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">obrigatório</span>
              </div>
              <input required minlength="5" type="text" class="form-control" [(ngModel)]="name" name="name" id="name" placeholder="Nome" />
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="state">Associar a Revisão?</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">opcional</span>
              </div>
              <select class="custom-select d-block" [(ngModel)]="review" name="review" id="review">
                <option value="">Selecione...</option>
                <option *ngFor="let review of totalReviews" id={{review.id}}>{{review.title}}</option>
              </select>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button (click)="saveFormEmployee(formEmployee)" class="btn btn-lg btn-block btn-outline-primary" [disabled]="!formEmployee.valid">Salvar</button>
      </form>
    </div>
  </div>


  <hr class="mb-4">


  <div class="row">
    <div class="col-md-12">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Lista de Funcionários</span>
        <span class="badge badge-secondary badge-pill">Total: {{ sizeOfEmployees }} funcionários</span>
      </h4>

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <form class="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar pelo nome">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let employee of totalEmployees">
          <app-employee [employee]=employee></app-employee>
        </li>
      </ul>
    </div>
  </div>




  <hr class="mb-4">

  <div class="row">
    <div class="col-md-6 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Últimas Revisões</span>
        <span class="badge badge-secondary badge-pill">Total: {{sizeOfReviews}} revisões</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let reviewAnswer of lastReviews">
          <app-review-answer [reviewAnswer]=reviewAnswer></app-review-answer>
        </li>
      </ul>
    </div>
    <div class="col-md-6 order-md-1">
      <h4 class="mb-3"><span class="text-muted">Cadastro de Revisão de Desempenho</span></h4>
      <form novalidate #formReview="ngForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="username">Título</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">obrigatório</span>
              </div>
              <input required minlength="5" type="text" class="form-control" [(ngModel)]="title" name="title" id="title" placeholder="Título" />
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="state">Responsável</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">obrigatório</span>
              </div>
              <select required class="custom-select d-block" [(ngModel)]="employee" name="employee" id="employee">
                <option value="">Selecione...</option>
                <option *ngFor="let employee of totalEmployees" value={{employee.id}} id={{employee.id}}>{{employee.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button (click)="saveFormReview(formReview)" class="btn btn-lg btn-block btn-outline-primary" [disabled]="!formReview.valid">Salvar</button>
      </form>
    </div>
  </div>

  <hr class="mb-4">

  <div class="row">
    <div class="col-md-12">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Lista de Revisões de Desempenho</span>
        <span class="badge badge-secondary badge-pill">Total: {{sizeOfReviewAnswers}} revisões</span>
      </h4>

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <form class="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar pelo título">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let reviewAnswer of lastReviewAnswers">
          <app-review-answer [reviewAnswer]=reviewAnswer></app-review-answer>
        </li>
      </ul>
    </div>
  </div>
</div>



